In [29]:
import pandas as pd
import numpy as np
%pylab inline
import matplotlib.pyplot as plt
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [30]:
master_df = pd.read_csv('master.csv')
batting_df = pd.read_csv('batting.csv')

In [31]:
player_info = master_df[['playerID', 'height']]

In [32]:
batting_info = batting_df[['playerID', 'BB', 'AB']]

In [42]:
bb_ab_summed = batting_info.groupby('playerID').sum().reset_index()
bb_ab_summed.head(3)

    playerID      BB       AB
0  aardsda01     0.0      4.0
1  aaronha01  1402.0  12364.0
2  aaronto01    86.0    944.0

In [34]:
wht = bb_ab_summed.merge(player_info)

In [35]:
wht.head(3)

    playerID      BB       AB  height
0  aardsda01     0.0      4.0    75.0
1  aaronha01  1402.0  12364.0    72.0
2  aaronto01    86.0    944.0    75.0

In [40]:
plt.scatter(wht[('BB')/('AB')], wht['height'])

TypeError: unsupported operand type(s) for /: 'str' and 'str'